* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	/* font: 100% / 200% 'Trebuchet MS'; */
}
body {
	/* font-size: 1em; */
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	/* color: pink; */
	/* background-color: #000; */
	/* max-width: 50em; */
	margin: 0 auto;
}

header {
	/* background-color: lightc; */
	color: white;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
}

header h1:first-of-type {
	color: black;
	margin: 0 0 0 5vw;
}

header h1:first-of-type p {
	display: block;
	font-size: 0.75em;
	margin: 0;
	padding: 0;
}

header h1:first-of-type p:nth-of-type(2) {
	transform: rotate(90deg) translate(-80%, -5%);
}

header h1:first-of-type p:nth-of-type(3) {
	transform: translateY(-95%);
}

header h1:nth-of-type(2) {
	padding: 2vw;
	color: rgb(90, 60, 160);
	margin: 0 2vw 0 0.5vw;
	font-size: 16vw;
	transform: translateY(-12.5%);
}

main > div {
	display: flex;
	justify-content: center;
}

article {
	display: flex;
	width: 90vw;
	padding: 2vw;
	margin: 2.5vw 0;
	color: black;
	box-shadow: 2vw 2.5vw rgba(150, 150, 150, 0.15);
	/* border: solid 0.25em rgba(90, 60, 160, 0.5); */
	border-radius: 5vw;
}

article p {
	color: rgba(150, 150, 150);
	font-size: 1em;
	margin: 1vw 0;
}

article h2 {
	/* font-size: 0.2em; */
	margin: 0;
	font-size: clamp(1rem, 1vw, 1rem);
}

article > img:nth-of-type(1) {
	width: 25vw;
	height: 40vw;
	margin-right: 5vw;
	border-radius: 3vw;
}

article div img {
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
}

main > section > button img {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}

main > section {
	padding: 5vw;
}

main > section > button {
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	background-color: white;
	border: none;
	margin: 0 2.5vw;
}

main > h2 {
	font-weight: 300;
	margin: 5vw 0 0 5vw;
	margin-bottom: 0;
}

#nee {
	display: none;
	background-color: green;
	height: 75vh;
	position: absolute;
}

#nee.show {
	display: flex;
}
