@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype') url('../fonts/Avenir.ttf')
			format('truetype'),
		url('../fonts/Avenir.svg#Avenir') format('svg');
}
html {
	margin: 0;
	padding: 0;
	/* font-family: 'Avenir'; */
}
body {
	/* font-size: 1em; */
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	/* color: pink; */
	/* background-color: #000; */
	/* max-width: 50em; */
	margin: 0 auto;
}

header {
	/* background-color: lightc; */
	color: white;
	width: 100vw;
	margin: 0;
	padding: 0;
	display: flex;
}

article > div {
	width: 100%;
}

header h1:first-of-type {
	color: black;
	margin: 0 0 0 5vw;
}

header h1:first-of-type p {
	display: block;
	font-size: 0.75em;
	margin: 0;
	padding: 0;
}

header h1:first-of-type p:nth-of-type(2) {
	transform: rotate(90deg) translate(-80%, -5%);
}

header h1:first-of-type p:nth-of-type(3) {
	transform: translateY(-95%);
}

header h1:nth-of-type(2) {
	padding: 2vw;
	color: rgb(90, 60, 160);
	margin: 0 2vw 0 0.5vw;
	font-size: 16vw;
	transform: translateY(-12.5%);
}

main > div {
	display: flex;
	justify-content: center;
}

article {
	margin-top: 5vw;
}

article p {
	color: rgba(150, 150, 150);
	font-size: 0.1vw;
	letter-spacing: -0.5vw;
	margin: 1.5vw 0;
}

article p:nth-of-type(2) {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 0.1vw;
	letter-spacing: -0.5vw;
}

article h2 {
	margin: 0;
	font-size: clamp(1rem, 1vw, 1rem);
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

label img {
	width: 10vw;
	height: 10vw;
}

article > img:nth-of-type(1) {
	width: 25vw;
	height: 40vw;
	margin-right: 5vw;
	border-radius: 3vw;
}

article div > section div > img {
	width: 6.5vw;
	height: 6.5vw;
	border-radius: 50%;
}

article div > section div:nth-of-type(2) > img {
	padding: 0 1vw;
}

article div > section div {
	display: flex;
}

article div section {
	margin-top: 5vw;
	display: flex;
	position: absolute;
	transform: translateY(-20%);
	bottom: 0;
}

article div section > div:last-of-type {
	margin: 0 5vw;
	width: 20%;
}

article div section div:first-of-type img {
	border-radius: 0;
}

main > section > form > input {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}

/* radio buttons */
[type='radio'] {
	opacity: 0;
	transform: translate(8vw, 8vw);
	width: 5vw;
	height: 5vw;
	margin: 0;
	padding: 0;
}

main section:nth-of-type(2) [type='radio'] {
	display: none;
}

/* languages radio buttons */
[name='flag'] + img {
	cursor: pointer;
	border-radius: 50%;
	margin: 0 5vw;
}

[name='flag']:checked + img {
	outline: 1.5vw solid rgb(90, 60, 160);
}

/* Time radio buttons */
[name='time']:checked + label {
	border: solid 1.5vw rgb(90, 60, 160);
	padding: 0;
}

main > section > form {
	padding: 1vw 0;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	scrollbar-width: none;
}

/* Removes the scrollbar at the horizontal slider */
main > section > form::-webkit-scrollbar {
	display: none;
}

main > section:first-of-type {
	margin: 0 0 4vw;
}

main > section:nth-of-type(2) {
	padding: 6vw 0vw 3vw;
}

/* Selecteer een taal & Selecteer een tijdsindicatie */
main > h2 {
	font-weight: 300;
	margin: 5vw 0 0 5vw;
	margin-bottom: 0;
	border-bottom: solid 0.75vw rgb(90, 60, 160);
	display: inline;
}

/* #nee {
	display: none;
	background-color: green;
	height: 75vh;
	position: absolute;
}

#nee.show {
	display: flex;
} */

main > section:nth-of-type(2) form {
	display: flex;
	justify-content: space-evenly;
}

main > section:nth-of-type(2) label {
	box-shadow: 1vw 1vw rgba(150, 150, 150, 0.075);
	background-color: rgba(150, 150, 150, 0.025);
	border: 1.5vw solid rgba(150, 150, 150, 0.025);
	width: 15vw;
	height: 15vw;
	border-radius: 0%;
	/* padding: 2vw; */
	border-radius: 2vw;
}

main > section:nth-of-type(3) {
	text-align: center;
	margin: 0 0 10vw 0;
	padding: 0;
}

/* Time radio buttons text */
main > section:nth-of-type(3) h3 {
	font-weight: 400;
	font-size: 1vw;
	letter-spacing: -0.5vw;
	margin: 0;
	padding: 0;
}

/* main > div {
	background-color: rgba(90, 60, 160);
} */

main > div:first-of-type {
	margin: 10vw 0 0;
}

/* Book */
main > div > article {
	display: flex;
	width: 85vw;
	padding: 2vw;
	margin: 4vw 0;
	color: black;
	box-shadow: 1.5vw 1.5vw rgba(150, 150, 150, 0.075);
	background-color: rgba(150, 150, 150, 0.025);
	border-radius: 5vw;
	transform: translateX(-1.5vw);
}

/* Radio buttons placement  */
main > section:nth-of-type(2) > form,
main > section:nth-of-type(3) {
	display: flex;
	width: 100vw;
	justify-content: space-around;
}

main > section:nth-of-type(2) > form label {
	align-items: center;
	text-align: center;
}

main > section:nth-of-type(2) > form label img {
	/* transform: translateY(-25%); */
}

/* Selecteer een taal en een tijdsindicatie voor specifieke zoekresultaten */
main > h3 {
	margin: 0 0 5vw 5vw;
	font-weight: 300;
	font-size: smaller;
	width: 90vw;
}

main > section:nth-of-type(2) form img {
	transform: translateY(30%);
}
