* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	/* font: 100% / 200% 'Trebuchet MS'; */
}
body {
	/* font-size: 1em; */
	padding: 0;
	margin: 0;
	/* color: pink; */
	/* background-color: #000; */
	max-width: 50em;
	margin: 0 auto;
}

article {
	display: flex;
	margin: 5vw 0;
}

article p {
	font-size: 1.5em;
}

article h2 {
	font-size: 2em;
}

article img {
	width: 25vw;
	height: 40vw;
	margin-right: 5vw;
}
